@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cheri';
    src: url("/CHERI___.TTF");
}

@font-face {
    font-family: 'Cheri Liney';
    src: url("/CHERL___.TTF");
}
